// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transform( $transform ) {
  transform: $transform ;
  // Firefox
  -moz-transform: $transform ;
  // Safari, Google Chrome
  -webkit-transform: $transform ;
  // Opera
  -o-transform: $transform ;
  // Internet Explorer
  -ms-transform: $transform ;
}

.clear{
  float: none;
  clear: both;
}


html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding-top: 400px;
}

body, .item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.container {
  width: 1195px;
}

#header {
  background-color: #000;
  height: 400px;
  margin-top: -400px;
  padding: 5px;
  padding-top: 15px;
  .video{
    background-color: black;
    width: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    .cm{
      position: absolute;
      bottom: 35px;
      width: 60%;
      margin: auto;
      left: 0;
      right: 0;
      #cm1{
        display: none;
      }
      #cm2{
        display: none;
      }
      #cm3{
        display: none;
      }
      img{
        width: 100%;
      }
    }
    video{
      width: 100%;
      margin: auto;
    }
    #scene1,#scene2,#scene3{
      float: left;
      margin-right: 20px;
      padding: 5px;
      background-color: #eee;
    }
  }
}

#middle {
  height: 100%;
  .col-sm-3{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    img{
      height: 80px;
    }
  }
  .col-sm-9{
    position: relative;
    .data-container{
      position: absolute;
      width: 85%;
      right: 5%;
      top: 10px;
      text-align: left;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .progress-bar-container{
    padding: 20px 0;
    width: 100%;
    position: relative;
    margin-top: 10px;
    padding-bottom: 50px;
    .progress-bar-container_label {
      color: rgb(64, 210, 191);
    }
    .bar{
      height: 142px;
      top: 0;
    }
    #mayuyu-baloon{
      left: 70% !important;
      top: 60px !important;
      @include transform(translateX(-50%));
      width: 200px;
      text-align: center;
      img{
        height: 55px;
      }
    }
    .progress-bar{
      width: 100%;
      height: 10px;
      border: 0px solid rgba(190,238,178,0.7);
      content: "";
      background-color: #fff;
      overflow-x: hidden;
      position: relative;
      top: 35px;
      #progress-bar-bar{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: rgba(163,183,248,0.4);
      }
      #mayuyu{
        position: absolute;
        top: 2px;
        left: 70.5%;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        border: 1px solid rgba(158,136,219,0.8);
        background-color: rgba(107,100,176,1.0);
        @include transform(translateX(-50%));
      }
    }
  }
  .voice_category{
    padding: 20px 0;
    position: relative;
    margin: auto;
    .voice_category_label {
      color: rgb(88, 152, 227)
    }
    .bar{
      height: 137px;
      top: 30px;
    }
    .voice_category-title{
      position: absolute;
      top: -15px;
      right: 0;
      left: 0;
      width: 100%;
      text-align: center;
      img{
        height: 55px;
      }
    }
  }
  .voice_keyword{
    padding: 20px 0;
    width: 100%;
    text-align: center;
    .voice_keyword_label {
      color: rgb(174, 114, 229);
    }
    .bar{
      height: 142px;
      top: 0;
    }
    .voice_keyword_body{
      text-align: left;
      width: 100%;
      border: 1px solid #ccc;
      background-color: #eee;
      height: 165px;
      .voice_keyword_col{
        width: 33.3%;
        float: left;
        height: 100%;
        border-right: 1px solid #000;
        &.last{
          border-right: none;
        }
        .voice_keyword_sec{
          border-bottom: 1px solid #000;
          padding: 5px 5px;
        }
        .voice_keyword_keyword{
          padding: 5px 5px;
        }
      }
    }
  }
  .object_recognition{
    padding: 20px 0;
    position: relative;
    .object_recognition-title{
      position: absolute;
      top: -16px;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      img{
        height: 55px;
      }
    }
    .bar{
      height: 165px;
      top: 0;
    }
  }
}





#menu div {
  position: relative;
}

.arrow_box {
  position: absolute;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #32d0b6;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #32d0b6;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.col-sm-2{
  text-align: center;
}

.bar{
  position: absolute;
  display: none;
  width: 3px;
  content: "";
  background-color: red;
  height: 100px;
}

